.place__title {
  grid-area: header;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 440px) {
  .place__title {
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
}
