.places {
  width: 77%;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    row-gap: 72px;
  }
}

@media screen and (max-width: 440px) {
  .places {
    width: 100%;
  }
}
