@import url(./__caption/lead__caption.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);


.lead {
  width: 77%;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
