@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);

.header {
  max-width: 1184px;
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 90%;
    padding-top: 16px;
  }
}
