@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  width: 92.5%;
  display: grid;
  grid-auto-rows: max-content;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
